#!/usr/bin/env bash

# pick up any .envrc from the containing/parent "workspace":
# source_up

# (non-sensitive) project environment variables:
export GITHUB_POLLING_INTERVAL_SEC=30

# Put values for these variables in your .local/envrc.  
# export GITHUB_PERSONAL_ACCESS_TOKEN=""
# export GITHUB_OWNER_REPO="my-username/my-repo"
# export GITHUB_CI_JOB_NAME="Omni CI"

# If you leave the HUE_BRIDGE_IP_ADDRESS as nil, then the NUPNP discovery protocol will be used to find your bridge.
# export HUE_BRIDGE_IP_ADDRESS=""

# For example,
# export HUE_UNIQUE_IDENTIFIER="gregwoodward#huesdk"

# secret/private[^1] ENV should be managed within `.local/envrc`:
source_env_if_exists .local/envrc

# ENV that must be set (per above) for things to work:
env_vars_required GITHUB_PERSONAL_ACCESS_TOKEN
env_vars_required GITHUB_OWNER_REPO
env_vars_required GITHUB_CI_JOB_NAME
env_vars_required HUE_UNIQUE_IDENTIFIER

# ergonomics: make stuff in `bin` available from anywhere in the project:
PATH_add bin
