#!/usr/bin/env bash

# pick up any .envrc from the containing/parent "workspace":
# source_up

# (non-sensitive) project environment variables:
export GITHUB_POLL_INTERVAL_MS=15_000

# Put values for these variables in your .local/envrc.  See 1Password for actual AWS values:
# export GITHUB_API_KEY=""

# For example,
# export HUE_UNIQUE_IDENTIFIER="gregwoodward#huesdk"

# secret/private[^1] ENV should be managed within `.local/envrc`:
source_env_if_exists .local/envrc

# ENV that must be set (per above) for things to work:
env_vars_required GITHUB_API_KEY
env_vars_required HUE_UNIQUE_IDENTIFIER

# ergonomics: make stuff in `bin` available from anywhere in the project:
PATH_add bin
